.App {
  text-align: center;
  height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(19, 19, 19);
  color: white;
  padding: 10px 20px;
}

.navbarTitle > h1 {
  font-size: 20px;
}

.navbarLinks {
  display: flex;
  margin-right: 20px;
  font-size: 14px;
}

.navbarLinks span {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px;
}

.auth-card {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(86, 86, 86, 0.1);
  text-align: center;
  margin: auto; /* This centers the card */
  margin-top: 60px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.auth-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-btn:hover {
  background-color: #0056b3;
}
